<ion-view title="MAIN MENU">
    <ion-content padding="'true'" style="background: url(img/background.jpg) no-repeat center;" class="has-header">
        <div class="round-button"><div class="round-button-circle"><a menu-close="" href="#/prerecord" class="round-button" ><h1>BEGIN NEW RECORDING</h1></a></div></div>
        
        <a menu-close="" href="#/settings" class="button button-stable button-outline button-block button-large button-full">SETTINGS</a>
       
    </ion-content>
</ion-view>