<ion-view title="Analytics">
    <ion-content padding="'true'" style="background: url(img/background.jpg) no-repeat center;" class="has-header">
        <h1>Below are some analytics from the survey so far</h1>
        <h2>Your reported mood:</h2>
        <img src="../img/ionic.png" />
        <h2>Completed recordings</h2>
        <img src="../img/ionic.png" />
        <button class="button button-stable button-outline button-block" ng-click="tomain();">BACK TO MAIN MENU</button>
    </ion-content>
</ion-view>